.dirasakan-container {
  min-height: 100vh;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: white;
}

.dirasakan-card {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

h1,
h3 {
  font-size: 10pt;
}

.tanggal-gempa-dirasakan {
  color: teal;
}

.magnitude-gempa-dirasakan {
  margin: 20px 0px;
  padding: 20px 15px;
  color: aliceblue;
  font-weight: 800;
  font-size: 30px;
  background-color: teal;
  display: inline-block;
  border-radius: 50px;
}
