* {
  margin: 0;
  text-align: center;
}

.bmkg-container {
  border-radius: 20px;
  background-color: white;
  padding-bottom: 65.4px;
}

.shakemap {
  width: 100%;
}

.wilayah-gempa {
  font-size: 15px;
}

.magnitude-gempa {
  margin: 20px 0px;
  padding: 20px 15px;
  color: aliceblue;
  font-weight: 800;
  font-size: 40px;
  background-color: teal;
  display: inline-block;
  border-radius: 50px;
}

.tanggal-gempa {
  color: teal;
  font-weight: bold;
  font-size: 12pt;
}

.potensi-gempa {
  margin-top: 10px;
  color: grey;
  font-size: 15px;
}
.waktu-gempa {
  margin-top: 10px;
}
