.containerBMKG {
  min-height: 100vh;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: white;
}

.MuiCardContent-root {
  padding: 0px !important;
}

.card-content {
  text-align: center !important;
}

.tanggalGempa {
  color: teal !important;
  font-weight: bold !important;
  font-size: 12pt !important;
}

.titleCard {
  margin-top: 2px !important;
  margin-bottom: 10px !important;
  font-weight: bold !important;
}

.wilayahContainer {
  margin: 25px 0px;
}

.wilayah {
  margin: 15px;
  font-size: 10pt;
}
.flex-container {
  display: flex;
  background-color: teal;
  justify-content: center;
}

.flex-container > div {
  color: white;
  margin-left: 5px;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 30px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .containerBMKG {
    width: 100%;
  }

  .cardContainer {
    border-radius: 0px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  }

  .gambar-gempa {
    border-radius: 0px;
    width: 100%;
    height: 100%;
  }
}
