html {
  background-color: rgb(238, 236, 236);
}

.App {
  height: 100vh;
}
.magnitude-gempa-dirasakan {
  padding: 20px 15px;
  color: aliceblue;
  font-weight: 800;
  font-size: 30px;
  background-color: teal;
  width: 50px;
  margin: 20px auto;
  border-radius: 50px;
}

@media only screen and (max-width: 800px) {
  .App {
    margin: 0;
  }
}
