.app-container {
  margin-top: 20px;
}

nav {
  border-radius: 20px;
  background-color: teal;
  box-shadow: 2px 2px 3px #999;
}

.float {
  z-index: 10;
  position: fixed;
  left: 170px;
  bottom: 15px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

li {
  margin-left: 10px;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

p.menu-title {
  color: white;
  font-size: 9pt;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

@media only screen and (max-width: 600px) {
  .app-container {
    margin-top: 0px;
  }
  nav {
    border-radius: 0px;
    background-color: teal;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    width: 100%;
  }

  .float {
    z-index: 10;
    position: fixed;
    left: 0px;
    bottom: 0;
  }
}
